
test_data/test_video_1.mp4
weights/Yolov7_v2.onnx
weights/Yolov7_v2.pt
test_data/test_video_2.mp4
/.ipynb_checkpoints
/helper_files/.ipynb_checkpoints
/.idea
/conversion_files/ONNX-TensorRT-Inference-CRAFT-pytorch
/weights
/test_data
/ai_services/__pycache__
/helper_files/__pycache__
/output_data
/cache_downloads
output.txt
